footer {
    background: $primary;
    color: #ffffff;
    height: 40vh;
    padding: 80px;
    border-top: 2px solid rgba(246, 246, 246, .3);
}

footer p {
    text-transform: uppercase;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 1.8px;
    font-size: 0.9rem;
}

footer a {
    text-decoration: none;
    color: $tertiary;
}

footer a:hover {
    color: $last;
}