footer {
    background: #333333;
    color: #ffffff;
    height: 30vh;
    padding: 80px;
}

footer p {
    text-transform: uppercase;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 1.8px;
    font-size: 0.9rem;
}