.navBar {
    display: flex;
    justify-content: space-evenly;
}

.menu1 ul, 
.menu2 ul {
    display: flex;
}

.menu1 li,
.menu2 li {
    text-decoration: none;
    list-style: none;
    color: $primary;
    justify-content: space-between;
    margin: 5px;

}



.menu1 a,
.menu2 a {
    text-decoration: none;
    list-style: none;
    color: $primary;
    font-family: $baseFont;
    text-transform: uppercase;
    justify-content: space-around;
    font-size: 0.7rem;
    margin: 5px;
    position: relative;
}

.menu1 a:hover,
.menu2 a:hover {
    color: $last;
    background-color: $primary;
}

.menu1 .home a::before {
    content: "";
    height: 1px;
    width: 120%;
    background-color: $primary;
    position: absolute;
    top: 9px;
    left: -5px;
}
.toggle {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-family: $baseFont;
    border: none;
    padding: 0.2em;
    padding-top: 0;
    padding-bottom: 0;
    background-color: $last;
    
}
.toggle:hover {
    color: $last;
    background-color: $primary;
}

.menu2 .bag a::after {
    content: "2";
    font-size: 0.5rem;
    text-align: center;
    padding: 2px;
    font-family: $secondFont;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    color: $primary;
    background-color: $last;
    position: absolute;
    top: 10px;
    left: 8px;
}

@media(max-width: 767px) {

    .menu1 ul, .menu2 ul {
        flex-direction: column;
        padding-left: 0;
        // margin-left: 0;
    }
}