.popup {
     background-color: $last;
     width: 550px;
     padding: 30px 40px;
     position: absolute;
     transform: translate(-50%,-50%);
     left: 50%;
     top: 40%;
     border-radius: 8px;
     font-family: $baseFont;
     display: none;
     text-align: center;

}

.popup h3 {
     text-transform: uppercase;
}
.popup button{
     display: block;
     margin:  0 0 20px auto;
     background-color: transparent;
     font-size: 0.9rem;
     color:  $primary;
     border: none;
     outline: none;
     cursor: pointer;
     text-align: center;
     text-transform: uppercase;
}
.popup p{
     font-size: 14px;
     text-align: justify;
     margin: 20px 0;
     line-height: 25px;
}


@media(max-width: 767px) {
     .popup {
          max-width: 60%;
     }
}