
@import "setup";
@import "typography";
@import "colourPalette";
@import "nav";
@import "footer";

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.visuallyHidden {
    display: none;
}
header {
    background-image: url(../assets/blog-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.blog1 h2 {
    text-transform: uppercase;
    font-family: $baseFont;
    font-size: 3rem;
    font-weight: 600;
}

.blog1 p {
    font-size: 0.9rem;

}

.blog1 p span {
    color: rgba(51, 51, 51, 0.5);
}
.master {
    display: flex;
    padding-bottom: 30px;
}

.alex {
    width: 50%;
    display: flex;
}
.alex img {
    border-radius: 50%;
}

.chief {
    padding: 10px;
}
.alex h4, .blog2 h4 {
    font-family: $secondFont;
    font-weight: 400;
    text-transform: uppercase;
}

.alex p, .blog2 p {
    font-size: 0.7rem;
    color: rgba(51, 51, 51, 0.5);
}

.blog2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.bold {
    width: 100%;
    border-top: 2px solid $secondary;
    padding-top: 50px;

}

.bold p {
    font-family: $secondFont;
    font-weight: 600;
}

.regular p {
    font-weight: 400;
    color: rgba(51, 51, 51, 0.5);
}

.blog3 {
    display: flex;
}

.blog3 h4 {
    text-transform: uppercase;
    font-family: $baseFont;
    font-weight: 400;
}
.blog3 i {
    font-size: 20px;
    padding:  25px 10px;
}

.blog5 {
    border-top: 2px solid $secondary;
    display: flex;
    width: calc(100% / (33% - 40px));
    padding-top: 50px;
}
    

.blog7 {
    display: flex;
    flex-direction: column;
    border-top: 2px solid $secondary;
    padding-top: 50px;
}
.card1, .card2, .card3 {
    margin: 0 20px;
}
.card1 p, .card2 p, .card3 p {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-family: $baseFont;
}

.box1, .box2 {
    display: flex;
}

.box1 img, .box2 img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.comment1, .comment2 {
    background-color: $secondary;
    margin: 10px 0px 10px 50px;
    width: 100%;
    padding: 0 50px 30px 20px;


}

.comment1 h4, .comment2 h4 {
    text-transform: uppercase;
    font-family: $baseFont;
    font-weight: 400;
}
.comment1 h4 em, .comment2 h4 em {
    text-transform: lowercase;
    font-weight: 400;
}
.comment1 h4 em span, .comment2 h4 em span {
    text-transform: uppercase;
    font-weight: 400;
}
.comment1 p, .comment2 p {
    font-family: $baseFont;
    font-size: 0.7rem;
    color: rgba(51, 51, 51, 0.8);
}

.time p {
    font-size: 0.6rem;
    color: rgba(51, 51, 51, 0.5);
}
.blog9 {
    display: flex;
    border-top: 2px solid $secondary;
    padding-right: 50px;
}
.blog9 button {
    border: none;
    border-bottom: 2px solid $secondary;
    color: rgba(51, 51, 51, 0.5);
    background-color: $tertiary;
    margin-bottom: 50px;
}

input[type=subject], input[type=name] {
    border: none;
    border-bottom: 2px solid $secondary;
    color: rgba(51, 51, 51, 0.5);
    padding-right: 200px;
    font-size: 0.7rem;
}

.blog10 {
    padding-top: 60px;
}

.blog10 input[type=email] {
    border: none;
    border-bottom: 2px solid $primary;
    color: $primary;
    margin: 0 50px;
    padding-right: 200px;
    font-size: 0.7rem;

}

.blog11 {
    display: block;
    flex: 1 0 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

textarea {
    resize: none;
    width: 100%;
    border: none;
    border-bottom: 2px solid $secondary;
    color: rgba(51, 51, 51, 0.4);
    font-size: 0.7rem;
}
.contact {
    display: flex;
    flex-direction: row;
    color: $tertiary;
    background: $primary;
    padding: 60px;
}

.contacts, .recentPosts, .twitter {
    padding: 10px 50px;
}
.contact h3 {
    font-family: $secondFont;
    font-weight: 400;
    font-size: 1rem;
}

.contacts h3 {
    text-align: left;

}

.contacts p {
    text-align: left;
}

.contacts i {
    font-size: 15px;
    margin: 0 5px;
}

.recentPosts h3 {
    text-align: center;
}

.recentPosts ul {
    font-size: 0.7rem;
}

.twitter {
    text-align: right;
}

.contact p {
    font-size: 0.7rem;
}

.contact input[type=email] {
    border: 1px solid $primary;
    color: $primary;
    margin: 0;
    font-size: 0.7rem;
    width: 80%;
    padding: 1em 1.5em;
}

.twitter form {
    display: flex;
}

.twitter button {
    background: $last;
    border: 1px solid #333333;
    padding: 0.5rem;
}

@media(max-width: 940px) {
.blog5 {
    flex-direction: column;
}

.card1, .card2, .card3 {
    width: 100%;
    margin: 0;
    text-align: center;
}

}


@media(max-width: 767px) {

    .blog9 input[type=email] {
    width: 100%;
    margin: 0;
    margin-top: 50px;
}

input[type=subject], input[type=name] {
    width: 100%;
    margin: 0;
    margin-top: 50px;
}

    .contact {
    flex-direction: column;
}

.contacts, .recentPosts, .twitter {
    text-align: center;
}

.contacts, .recentPosts, .twitter {
    padding: 10px;
}

.contacts h3, .contacts p{
    text-align: center;
}


}


@media(max-width: 480px) {


.sMIcons {
    display: flex;
    flex-direction: column;
}

.twitter form {
    width: 100%;
    margin: 0;
}
    
}