

@import "setup";
@import "typography";
@import "colourPalette";
@import "nav";
@import "footer";


.contactImg {
    background-image: url(../assets/contact-1.jpeg);
    background-repeat: none;
    background-size: cover;
    height: 40vh;
}

.contact {
    display: flex;
    flex-direction: row;
    color: $tertiary;
    background: $primary;
}