

@import "setup";
@import "typography";
@import "colourPalette";
@import "nav";
@import "footer";

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.contactImg {
    background-image: url(../assets/contact-1.jpeg);
    background-repeat: none;
    background-size: cover;
    height: 40vh;
}

.contact2 {
    display: flex;
    margin: auto;
}

.contact3, .contact4, .contact5 {
    padding: 20px;
}

.contact {
    display: flex;
    flex-direction: row;
    color: $tertiary;
    background: $primary;
}


textarea {
    resize: none;
}