

@import "setup";
@import "typography";
@import "colourPalette";
@import "nav";
@import "footer";






body {
    background-color: #ffffff;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}


header {
    background-image: url(../assets/home-1.jpeg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    width: auto;
}

.branding {
    background: $last;
    padding-top: 180px;
    position: relative;
}
.branding .img1 {
    text-align: center;
    
}

.branding .img2 {
    position: absolute;
    top: 85px;
    left: 380px;
    
}

.branding h2 {
    text-transform: uppercase;
    font-family: $baseFont;
    font-weight: 400;
    font-size: 0.9rem;
}
.branding p {
    font-family: $secondFont;
    font-size: 0.7rem;
}
.boss {
    display: flex;
}

.one, .two {
    text-align: center;
    width: 50%;
    padding: 80px;
}



.iPad {
    background-image: url(../assets/home-4.jpeg);
    background-repeat: no-repeat;
}

.split {
    display: flex;

}

.egy {
    width: 50%;
    background-color: $last;
    text-align: center;
    padding: 50px;
}

.egy h2 {
    text-transform: uppercase;
}

.egy a {
    text-decoration: none;
    font-family: $baseFont;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7rem;
    padding: 0.5em 1em;
    background-color: $tertiary;
    color: $primary;
}

.ketto {
    width: 50%;
}

.circle {
    padding: 180px;
}

.circlePic {
    text-align: center;
}

.circlePic img {
    border-radius: 50%;
}

.three p {
    text-align: center;
    line-height: 24px;
    padding-top: 20px;
}

.iPadWrapper {
    display :flex;
    width: 100%;
    justify-content: right;
}

.iPadBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    width: 50%;

}

.wand {
    border: 2px solid #333333;
    padding: 15px;
    border-radius: 50%;
    width: 13%;
    font-size: 30px;
    text-align: center;
}

.pin {
    border: 2px solid #333333;
    padding: 15px;
    border-radius: 50%;
    width: 13%;
    font-size: 30px;
    text-align: center;
}

.desktop {
    border: 2px solid #333333;
    padding: 15px;
    border-radius: 50%;
    width: 13%;
    font-size: 30px;
    text-align: center;
}

.shopping-bag {
    border: 2px solid #333333;
    padding: 15px;
    border-radius: 50%;
    width: 13%;
    font-size: 30px;
    text-align: center;
}

.sliders {
    border: 2px solid #333333;
    padding: 15px;
    border-radius: 50%;
    width: 13%;
    font-size: 30px;
    text-align: center;
}

.smileyFace {
    border: 2px solid #333333;
    padding: 15px;
    border-radius: 50%;
    width: 13%;
    font-size: 30px;
    text-align: center;
}

.split {
    display: flex;
}
.contact {
    display: flex;
    flex-direction: row;
    color: $tertiary;
    background: $primary;
}

.contacts, .recentPosts, .twitter {
    padding: 80px;
}

.contacts {
    text-align: left;
}
.conacts h3 {
    font-family: $secondFont;
    font-weight: 400;
}
