@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.85rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Open Sans", sans-serif;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu1 ul,
.menu2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu1 li,
.menu2 li {
  text-decoration: none;
  list-style: none;
  color: #333333;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px;
}

.menu1 a,
.menu2 a {
  text-decoration: none;
  list-style: none;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.7rem;
  margin: 5px;
  position: relative;
}

.menu1 a:hover, .menu2 a:hover {
  color: #c3dab7;
  background-color: #333333;
}

.menu1 .home a::before {
  content: "";
  height: 1px;
  width: 120%;
  background-color: #333333;
  position: absolute;
  top: 9px;
  left: -5px;
}

.menu2 .bag a::after {
  content: "2";
  font-size: 0.5rem;
  text-align: center;
  padding: 2px;
  font-family: "Open Sans", sans-serif;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  color: #333333;
  background-color: #c3dab7;
  position: absolute;
  top: 10px;
  left: 8px;
}

@media (max-width: 767px) {
  .menu1 ul, .menu2 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer {
  background: #333333;
  color: #ffffff;
  height: 30vh;
  padding: 80px;
  border-top: 2px solid rgba(246, 246, 246, 0.3);
}

footer p {
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 1.8px;
  font-size: 0.9rem;
}

body {
  overflow-x: hidden;
}

.visuallyHidden {
  display: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.contactImg {
  background-image: url(../assets/contact-1.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30vh;
  position: relative;
  background-position: center;
}

.h2 {
  position: absolute;
  top: 180px;
  left: 320px;
}

h2::before {
  content: "—";
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
}

h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.9px;
}

span {
  display: block;
}

.contact1 {
  padding-top: 200px;
}

.contact1 h2 {
  left: 240px;
}

.contact2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.contact3, .contact4, .contact5 {
  margin: 20px 40px;
}

.contact3 {
  margin-right: 80px;
}

.contact3 i, .contact4 i, .contact5 i {
  font-size: 60px;
}

.contact3 h4, .contact4 h4, .contact5 h4 {
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.contact4 {
  margin-left: 50px;
  margin-right: 50px;
  border-left: 2px solid #333333;
  border-right: 2px solid #333333;
  padding: 10px 40px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  background: #333333;
}

.contact6 form {
  padding-top: 50px;
}

.contact6 button {
  border: none;
  border-bottom: 2px solid #333333;
  color: rgba(51, 51, 51, 0.5);
  background-color: #ffffff;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.contact6 button:hover {
  background-color: #333333;
  color: #c3dab7;
}

input[type=subject], input[type=name] {
  border: none;
  border-bottom: 2px solid #f6f6f6;
  color: rgba(51, 51, 51, 0.5);
  font-size: 0.7rem;
  padding-right: 200px;
}

.contact6 input[type=email] {
  border: none;
  border-bottom: 2px solid #333333;
  color: #333333;
  margin: 0 50px;
  padding-right: 200px;
  font-size: 0.7rem;
}

textarea {
  resize: none;
  width: 100%;
  border: none;
  border-bottom: 2px solid #f6f6f6;
  color: rgba(51, 51, 51, 0.4);
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 0.7rem;
}

.contact8 {
  background-image: url(../assets/contact-2.jpeg);
  background-repeat: none;
  background-size: cover;
  height: 90vh;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  background: #333333;
  padding: 60px;
}

.contacts, .recentPosts, .twitter {
  padding: 10px 50px;
}

.contact h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.contacts h3 {
  text-align: left;
}

.contacts p {
  text-align: left;
}

.contacts i {
  font-size: 15px;
  margin: 0 5px;
}

.recentPosts h3 {
  text-align: center;
}

.recentPosts ul {
  font-size: 0.7rem;
}

.twitter {
  text-align: right;
}

.contact p {
  font-size: 0.7rem;
}

.contact input[type=email] {
  border: 1px solid #333333;
  color: #333333;
  margin: 0;
  font-size: 0.7rem;
  width: 80%;
  padding: 1em 1.5em;
}

.twitter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.twitter button {
  background: #c3dab7;
  border: 1px solid #333333;
  padding: 0.5rem;
}

.twitter button:hover {
  color: #c3dab7;
  background-color: #333333;
}

@media (max-width: 940px) {
  .contactImg {
    background-size: cover;
    height: 20vh;
  }

  .h2 {
    top: 150px;
    left: 0;
  }

  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact8 {
    height: 40vh;
  }
}
@media (max-width: 767px) {
  .h2 {
    top: 250px;
    left: 0;
  }

  .contactImg {
    height: 10vh;
  }

  .contact2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact3, .contact4, .contact5 {
    text-align: center;
  }

  .contact6 input[type=email] {
    width: 100%;
    margin: 0;
    margin-top: 50px;
  }

  input[type=subject], input[type=name] {
    width: 100%;
    margin: 0;
    margin-top: 50px;
  }

  .contacts, .recentPosts, .twitter {
    padding: 10px;
  }

  .contacts, .recentPosts, .twitter {
    text-align: center;
  }

  .contacts h3, .contacts p {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .sMIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .twitter form {
    width: 100%;
    margin: 0;
  }
}