html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.85rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Open Sans", sans-serif;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu1 ul,
.menu2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu1 li,
.menu2 li {
  text-decoration: none;
  list-style: none;
  color: #333333;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px;
}

.menu1 a,
.menu2 a {
  text-decoration: none;
  list-style: none;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.7rem;
  margin: 5px;
  position: relative;
}

.menu1 a:hover, .menu2 a:hover {
  color: #c3dab7;
  background-color: #333333;
}

.menu1 .home a::before {
  content: "";
  height: 1px;
  width: 120%;
  background-color: #333333;
  position: absolute;
  top: 9px;
  left: -5px;
}

.menu2 .bag a::after {
  content: "2";
  font-size: 0.5rem;
  text-align: center;
  padding: 2px;
  font-family: "Open Sans", sans-serif;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  color: #333333;
  background-color: #c3dab7;
  position: absolute;
  top: 10px;
  left: 8px;
}

@media (max-width: 767px) {
  .menu1 ul, .menu2 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer {
  background: #333333;
  color: #ffffff;
  height: 30vh;
  padding: 80px;
  border-top: 2px solid rgba(246, 246, 246, 0.3);
}

footer p {
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 1.8px;
  font-size: 0.9rem;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.visuallyHidden {
  display: none;
}

header {
  background-image: url(../assets/home-1.jpeg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

.branding {
  background: #c3dab7;
  padding-top: 180px;
  position: relative;
}

.branding::before {
  content: "";
  height: 1px;
  width: 150px;
  background-color: rgba(51, 51, 51, 0.5);
  position: absolute;
  top: 0px;
  left: 46%;
  margin: 0 auto;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.branding .img1 {
  text-align: center;
  width: auto;
}

.branding .img2 {
  position: absolute;
  top: 85px;
  left: 380px;
}

.branding h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  position: relative;
}

.branding p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
}

.boss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.one, .two {
  text-align: center;
  width: 50%;
  padding: 80px;
}

.iPad {
  background-image: url(../assets/home-4.jpeg);
  background-repeat: no-repeat;
}

.splits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.egy {
  width: 50%;
  background-color: #c3dab7;
  text-align: center;
  padding: 200px 30px;
}

.egy h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.egy a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  padding: 1em 2em;
  background-color: #ffffff;
  color: #333333;
}

.egy a:hover {
  color: #c3dab7;
  background-color: #333333;
}

.egy p {
  font-size: 0.9rem;
  color: rgba(51, 51, 51, 0.5);
  padding-bottom: 40px;
  padding-top: 10px;
}

.ketto {
  width: 50%;
}

.ketto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.circle {
  padding: 180px;
  position: relative;
}

.circlePic {
  text-align: center;
}

.circlePic img {
  border-radius: 50%;
}

.arrow1 {
  position: absolute;
  font-size: 40px;
  top: 380px;
  left: 200px;
}

.arrow2 {
  position: absolute;
  font-size: 40px;
  color: rgba(51, 51, 51, 0.5);
  top: 380px;
  right: 200px;
}

.three p {
  text-align: center;
  line-height: 1.8rem;
  padding-top: 20px;
  color: rgba(51, 51, 51, 0.8);
}

.iPadWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.iPadBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  padding: 150px;
  padding-right: 0;
  padding-left: 0;
}

.iPad1, .iPad2, .iPad3, .iPad4, .iPad5, .iPad6 {
  width: calc(50% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

.iPod {
  width: 200%;
  margin-left: 10px;
}

.iPod h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.iPod p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  opacity: 0.5;
}

.iPadBox i {
  position: relative;
  padding: 10px;
  font-size: 30px;
}

.iPadBox i::after {
  content: "";
  position: absolute;
  border: 2px solid #333333;
  top: -5px;
  left: -5px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
}

.wand, .pin, .desktop, .shoppingBag, .sliders, .smileyFace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.iPadBox .pin i::after {
  content: "";
  position: absolute;
  border: 2px solid #333333;
  top: -5px;
  left: -10px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
}

.team {
  position: relative;
  margin-bottom: 20px;
}

.team::before {
  content: "";
  height: 1px;
  width: 80px;
  background-color: rgba(51, 51, 51, 0.5);
  position: absolute;
  top: 18px;
  left: 47%;
  margin: 0 auto;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.team h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 1.8px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 100px;
}

.pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.play {
  background-color: #f6f6f6;
  width: 47%;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 18px;
  margin-top: 15px;
  padding: 120px 0 0 50px;
}

.play h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 1.8px;
  color: rgba(51, 51, 51, 0.8);
}

.play p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  color: rgba(51, 51, 51, 0.8);
  line-height: 1.2rem;
}

.pics1 {
  margin: 15px;
  margin-bottom: 20px;
}

.pics2 {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.work h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  padding: 60px;
  padding-top: 100px;
  color: rgba(51, 51, 51, 0.8);
}

.work span {
  display: block;
  text-align: center;
  padding: 40px;
  padding-top: 0;
  color: rgba(51, 51, 51, 0.8);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  background: #333333;
  padding: 60px;
}

.contacts {
  text-align: left;
}

.conacts h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.twitter p, .contacts p, .recentPosts p {
  font-size: 0.7;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.twitter button {
  background: #c3dab7;
  border: 1px solid #333333;
}

.contacts, .recentPosts, .twitter {
  padding: 10px 50px;
}

.contact h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.contacts h3 {
  text-align: left;
}

.contacts p {
  text-align: left;
}

.contacts i {
  font-size: 15px;
  margin: 0 5px;
}

.recentPosts h3 {
  text-align: center;
}

.recentPosts ul {
  font-size: 0.7rem;
}

.twitter {
  text-align: right;
}

.contact p {
  font-size: 0.7rem;
}

.contact input[type=email] {
  border: 1px solid #333333;
  color: #333333;
  margin: 0;
  font-size: 0.7rem;
  width: 80%;
  padding: 1em 1.5em;
}

.twitter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.twitter button {
  background: #c3dab7;
  border: 1px solid #333333;
  padding: 0.5rem;
}

.twitter button:hover {
  color: #c3dab7;
  background-color: #333333;
}

@media (max-width: 1100px) {
  .iPadBox {
    background-color: #f6f6f6;
  }
}
@media (max-width: 940px) {
  .branding::before {
    display: none;
  }

  .team::before {
    display: none;
  }

  .img2 {
    display: none;
  }

  .arrow1, .arrow2 {
    display: none;
  }

  .three {
    text-align: left;
    display: block;
  }

  .pics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .play {
    width: 100%;
  }

  .pics1, .pics2 {
    width: 100%;
  }

  .iPadBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 100%;
    text-align: center;
    background-color: #f6f6f6;
  }

  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .iPadBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: 100%;
  }

  .iPadBox i {
    width: 10%;
  }

  .iPad1, .iPad2, .iPad3, .iPad4, .iPad5, .iPad6 {
    width: 90%;
    margin: 5px;
  }

  .splits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .egy {
    width: 100%;
  }

  .ketto {
    width: 100%;
  }

  .contacts, .recentPosts, .twitter {
    text-align: center;
  }

  .contacts h3, .contacts p {
    text-align: center;
  }

  .contacts, .recentPosts, .twitter {
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .circlePic {
    display: none;
  }

  .sMIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .twitter form {
    width: 100%;
    margin: 0;
  }
}